@{
    ViewData["Title"] = "Movie Index";
}





<h1>@ViewData["Title"]</h1>
<p>Welcome to the C++ Source Code video about GTA !</p>


<iframe width="560" height="315" src="https://www.youtube.com/embed/N3KhMOk_6HE?si=3m_pjM5QzfkzBS7x" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<h1>Image showing test from the project paths</h1>

<img src = "~/img/Lenna.png">
